.container{
    width: 100%;
    overflow-y: auto;
 } 
 
 
 .c-1 {
    margin: 10 !important;
    padding: 20 !important;
 }
 .col-1{
   padding: 0 !important;
 }

 .btn.btn-outline-primary:disabled{
    color: #0d6efd;
    opacity: 1;
    font-weight:bold;
 }